:root {
    --primary-color: #212121; /* dark gray */
    --secondary-color: #FFFFFF; /* white */
    --tertiary-color: #FF9800; /* orange */
    --quaternary-color: #607D8B; /* blue gray */
    --background-color: linear-gradient(to bottom, #303030, #212121); /* darker gray gradient */
  }
  
  .navbar {
    background-color: var(--primary-color);
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: var(--tertiary-color);
  }
  
  h2 {
    color: var(--secondary-color);
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: auto;
    padding: 40px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 20px; /* add curved corners to the form box */
  }
  
  /* Style the label elements */
  label {
    display: inline-block;
    width: 100px;
    color: var(--secondary-color);
  }
  
  input, select, textarea {
    width: 400px;
  }
  
  input[type=radio] {
    width: auto;
    margin-left: -25px;
  }
  
  input[type=submit] {
    width: auto;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
  }
  
  input[type=submit]:hover {
    background-color: var(--quaternary-color);
  }
  